# Core functionality - changes here should be rare!
/src/app.py                   @SantiagoFigueroaR
/src/backend/database.py      @SantiagoFigueroaR
/src/backend/routers/auth.py  @SantiagoFigueroaR

# The frontend will need refactored soon to be more object oriented.
/src/static/   @SantiagoFigueroaR
